{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon using profile picture -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/v2-063b36befbb6600973fafefb03ca63cf_1440w.jpg"/>
<link rel="icon" type="image/jpeg" href="{{ base_path }}/images/v2-063b36befbb6600973fafefb03ca63cf_1440w.jpg"/>
<link rel="icon" type="image/jpeg" href="{{ base_path }}/images/v2-063b36befbb6600973fafefb03ca63cf_1440w.jpg" sizes="32x32"/>
<link rel="icon" type="image/jpeg" href="{{ base_path }}/images/v2-063b36befbb6600973fafefb03ca63cf_1440w.jpg" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="{{ base_path }}/images/v2-063b36befbb6600973fafefb03ca63cf_1440w.jpg"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
